



.carousel-item::before{
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:#000;
  opacity: 0.2;
}


.logo {
  max-height: 100%;
  max-width: 100%;
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.titulo-centrado{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3vw;
}
.texto-centrado{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2.5vw;
}


.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}


