body{
  font-size: 1.2rem
}
#main{
  background: rgba(0, 0, 0, 0.6) !important;
}

.logo-nav{
  width: 120px;
}

#carousel-item1::before,#carousel-item2::before,#carousel-item3::before{
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:#000;
  opacity: 0.5;
}


.logo {
  max-height: 100%;
  max-width: 100%;
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.titulo-centrado{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3vw;
}
.texto-centrado{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2.5vw;
}

.img-historia{
  height: 150px
}

#empleados img, #testimonios img{
  width: 150px;
  height: 150px
}

#contacto h1{
  font-family:'Trebuchet MS';
  font-size: 2.5em;
  text-align: center;
}

#contacto p{
  text-align: justify;
  font-size: .9em;
}

form input:invalid:required {
  border: 2px solid #ee9090;
}

form input:valid {
  border: 2px solid rgb(55, 214, 95);
}

.orange-button{
  background-color: #e78750;
  border: none;
}


a:hover {
  font-size:20px;
  color:#100;

}